@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;;
    font-size: 1.2em;
}

#wrapper {
    background-color: #ddd;
    width: 100%;

}
#navbar{
    position: fixed;
    top:0;
    left:0;
    height: 120px;
    background-color: black;
    display: block;
    width: 100%;
    z-index: 10;

}
#navbar nav{
    display: flex;
}
#navbar nav a{
    flex:0 0 25vw;
    text-align: center;
    font-size: 2em;
    color:whitesmoke;
    text-decoration: none;
    height: 120px;
    line-height: 2em;
    cursor: pointer;
}

#navbar nav a:hover{
    background-color: slategray;

}

#home{
    background-image: url('https://picsum.photos/id/44/640/480');
    background-size: cover;
    width: 100%;
}

.page {
    height: auto;
    min-height: 100vh;
    padding: 60px 10px;
    background-color: #eee;
}

.jumbotron {
    background-color: rgba(255,255,255,0.5);
    width: 80%;
    margin:100px auto;
    border:5px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.jumbotron h2 {
    font-size: 3em;
    color: black;
    text-transform: uppercase;
}

.jumbotron h3 {
    font-size: 2em;
    color: #222
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    flex:1;
    border: 1px solid #222;
    padding: 10px;
    
}
.main{
    background-color: white;
    min-height: 60vh;
    padding:10px;
    font-size: 1.2em;
}

.page > h2{
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid black;
    padding:8px;
    font-size: 3em;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 0 0 22%;
    background-color: white;
    border-radius: 20px;
    border:1px solid white;
    padding: 20px;
    margin:10px 0;
}

.card h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    padding: 0px;
    margin:0;
}

.card .card-content {
    padding:0 20px 20px;
}

.card .card-content button {
    background-color: lightgray;
    border:0;
    color:white;
    padding: 10px;
    width: 100%;
    cursor:pointer;
}

.card .card-content button:hover {
    background-color: darkgray;
}

.card img{
    max-width: 100%;
    text-align: center;
    margin: 0;
}

.contact-form{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    text-align: left;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    max-width: 800px;
    margin:0 auto; /*this centers the contact-form horizontally*/
    border-radius: 20px;
}

.contact-form .subject, .contact-form .message {
    width: 80%;
    margin: 0 auto;
}
label {
    color:white;
    display: block;
    padding: 0;
    margin: 0;
}

.active {
    background-color:  chocolate;
}

#message {
    width: 100%;
    font-size: 1.1em;
}

.message > button {
    height: 70px;
    width: 100%;
    background-color: cadetblue;
    font-size: 2em;
}

#email, #username, #subject {
    width: 100%;
    height: 50px;
    font-size: 1.3em;
}

.row-contact {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.row-contact .name, .row-contact .email {
    display: inline-block;
    padding: 0;
    margin:0;
    width: 45%;
}

.footer {
    min-height: 200px;
    text-align: center;
    color: #ddd;
    font-size: 1em;
    padding: 20px;
    background-color: black;
}

.main::first-letter{
    font-size: 2em;
    color:black;
}

@media all and (max-width:700px) {
    body {
    font-size: 1.4em;
    }
    #navbar {
        height: 40px;
    }
    
    #navbar nav a{
        font-size: 1.2em;
        height: 40px;
    }

    .row, .row-contact {
        flex-direction: column;
    }
    .card {
        flex:auto;
    }

    .row-contact .name, .row-contact .email {
        width: 100%;
    }
    .page {
        min-height: 60vh;
    }
    .main {
        min-height: 20vh;
    }
}
